body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5fbfb;
  /* Light blue-green background color */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Add a subtle box shadow to the code blocks for depth */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Optional: Add a Google Font for headings or special elements */
/* Example: 'Poppins', sans-serif; */
/* Include the font by adding a link in your HTML file */

/* Import the Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Use Montserrat for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

/* Optional: Add a subtle box shadow to images for depth */
img {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}